.logo {
  &__link {}
  &__img {
    max-height: 50px;
  }
}
.logo__link + .logo__link {
  margin-left: 10px;
}

.back-to-top {
  position: fixed;
  z-index: 50;
  bottom: 40px;
  right: 40px;
  display: none;
  cursor: pointer;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-name: fadeInUp;

  &__inner {
    background: $primary_color;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: all .3s;
    text-align: center;
    position: relative;
  }

  &__icon {
    fill: #fff;
    height: 24px;
    width: 24px;
    @include absolute-center();
  }

  &.is-active {
    display: block;
  }

  &:hover .back-to-top__inner {
    opacity: .7;
  }
}

.social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__link {
    font-size: 0;
    fill: #fff;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      fill: $primary_color;
    }
  }

  &__icon {
    width: 15px;
    height: 15px;
  }
}


.modal-msg {
  display: none;
  position: fixed;
  width: 70%;
  z-index: 99999;
  padding: 20px 10px;
  text-align: center;
  left: 15%;
  top: 40%;
  box-shadow: 0 3px 100px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  font-size: 18px;

  .alert-success,
  .alert-danger {
    background-color: transparent;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    opacity: .8;
    padding: 5px;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &__close-icon {
    width: 16px;
    height: 16px;
    fill: #000;
  }
}

