section#contact.section.s-contact
  .container
    .s-contact__content
      h2.section-title.wow.fadeInUp Интересует ГБО?
      .section-subtitle.wow.fadeInUp Не знаете как самостоятельно со всем разобраться?<br>Оставьте заявку и наш специалист позвонит Вам для консультации


      form.form.s-contact__form.s-contact-form.wow.fadeInUp
        .form__row
          .form__group.form__group--inline
            input.form__control(type="text" name="city" value="" placeholder="Ваше город")
            input.form__control(type="text" name="phone" value="" placeholder="Ваш номер телефона")

        .form__row.s-contact-form__row-submit
          button.bbtn Заказать консультацию


      .s-contact__info-row.wow.fadeInUp
        .s-contact__info.s-contact-info
          .s-contact-info__title Контактные данные
          .s-contact-info__content
            a(href="tel:84959953121") 8-495-995-31-21
            br
            a(href="mailto:autogas2007@yandex.ru") autogas2007@yandex.ru

        .s-contact__info.s-contact-info
          .s-contact-info__title Установочные центры
          .s-contact-info__content
            p
              b Москва, Варшавское шоссе, дом 37 корпус 4, Техцентр "Деалавто"
            p Москва, Сельскохозяйственная улица, дом 43 строение 1
            p г. Зеленоград, ул. Авторемонтная, строение 3. техцентр «ЗЕЛЕНОГРАД ЛАДА»




  .s-contact__map
    <iframe data-src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2249.5660869427834!2d37.61758668605813!3d55.679145303205715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1565262340871!5m2!1sru!2sua" frameborder="0" style="border:0" allowfullscreen class="lazyload"></iframe>

  .s-contact__bg





