section.section.s-galery-list
  .container

    ul.galery-list
      li.galery-list-item
        a(href="#").galery-list-item__link
          .galery-list-item__foto
            img(src="/img/foto/710189958f73665602cda2cf674c3bd0.JPG", alt="")
          .galery-list-item__title Установка ГБО на BMW 320 E36 2.0 R6 150 Hp
      li.galery-list-item
        a(href="#").galery-list-item__link
          .galery-list-item__foto
            img(src="/img/foto/710189958f73665602cda2cf674c3bd0.JPG", alt="")
          .galery-list-item__title Установка ГБО на BMW 320 E36 2.0 R6 150 Hp
      li.galery-list-item
        a(href="#").galery-list-item__link
          .galery-list-item__foto
            img(src="/img/foto/710189958f73665602cda2cf674c3bd0.JPG", alt="")
          .galery-list-item__title Установка ГБО на BMW 320 E36 2.0 R6 150 Hp
