section#info.section.s-info
  .container

    .container
      .row
        .col-6
        .col-6
          h2.section-title.wow.fadeInUp <span>Все об установке ГБО,</span><br> что может вас интересовать<br> в одной странице
          .s-info__text.wow.fadeInUp
            p На нашем сайте вы узнаете, почему ГБО на автомобиль является <u>экономичным и современным решением</u>.
            p Газовое оборудование для машины учитывает все технологические особенности как российских, так и импортных автомобилей.
          .s-info__btn.wow.fadeInUp
            a.bbtn.bbtn--icon(href="#") Смотреть видео
              +icon('video', 'bbtn__icon')



