section#reviews.section.s-reviews
  .container

    .s-reviews__content
      h2.section-title.wow.fadeInUp Клиенты о нашей <br>работе по установке и регистрации ГБО

      .s-reviews__slider.reviews-slider.js-reviews-slider.wow.fadeInUp
        .reviews-slider__arrows
          .reviews-slider__arrow.reviews-slider__arrow--prev
            +icon('arrow-left', 'reviews-slider__arrow-icon')
          .reviews-slider__arrow.reviews-slider__arrow--next
            +icon('arrow-right', 'reviews-slider__arrow-icon')

        .reviews-slider__list
          .reviews-slide
            .reviews-slide__header
              .reviews-slide__foto
                img(src="/img/foto/client-150x150.jpg", alt="Фото Александр Игоревич")
              .reviews-slide__info
                .reviews-slide__name Александр Игоревич
                .reviews-slide__sity Город
            .reviews-slide__title Отличный сервис. Профессионалы своего дела!
            .reviews-slide__text
              p Приезжаю второй раз. Очень доволен сервисом подходом к владельцу авто. Все проделанные работы предельно ясно рассказаны и самое приятное, что лишних и совсем ненужных работ не предлагают совершать раньше времени.
              p Обслуживался ранее на другом сервисе, так там постоянно считали такие суммы, что выходили в хорошую копеечку. Ребята молодцы, особенно спасибо Володе. Рекомендую!!!

          .reviews-slide
            .reviews-slide__header
              .reviews-slide__foto
                img(src="/img/foto/client-150x150.jpg", alt="Фото Александр Игоревич")
              .reviews-slide__info
                .reviews-slide__name Александр Игоревич
                .reviews-slide__sity Город
            .reviews-slide__title Отличный сервис. Профессионалы своего дела!
            .reviews-slide__text
              p Приезжаю второй раз. Очень доволен сервисом подходом к владельцу авто. Все проделанные работы предельно ясно рассказаны и самое приятное, что лишних и совсем ненужных работ не предлагают совершать раньше времени.
              p Обслуживался ранее на другом сервисе, так там постоянно считали такие суммы, что выходили в хорошую копеечку. Ребята молодцы, особенно спасибо Володе. Рекомендую!!!


                 
              