section#top.section.s-top
  //- .section__bg
  //-   picture
  //-     source(srcset="./img/bg/360/bg-car-white.png" media="(max-width: 360px)")
  //-     source(srcset="./img/bg/1366/bg-car-white.png" media="(max-width: 1366px)")
  //-     img(src="./img/bg/1920/bg-car-white.png", alt="")

  .container
    .row
      .col-12.s-top__content
        .s-top__title
          h1.site-title.wow.fadeInUp ГБО на авто:
          h2.site-subtitle.wow.fadeInUp газовое оборудование<br>на автомобиль
        .s-top__info.s-top-info.wow.fadeInUp
          .s-top-info__item
            .s-top-info__title 2 года
            .s-top-info__text Гарантия на всю продукцию<br>с даты изготовления!
          .s-top-info__item
            .s-top-info__title 20 лет
            .s-top-info__text Опыта в важнейших направлениях<br>рынка газобаллонного оборудования
        .s-top__btn.wow.fadeInUp
          a.bbtn(href="#calc") Рассчитать стоимость



  .s-top__bottom.s-top-bottom
    .container
      .copy

      .s-top-bottom__inner
        .s-top-bottom__left
          .s-top__copy Интергассервис, 2019
        .s-top-bottom__right
          .s-top__social.social
            a.social__link(href="#")
              +icon('facebook', 'social__icon')
            a.social__link(href="#")
              +icon('instagram', 'social__icon')
            a.social__link(href="#")
              +icon('youtube', 'social__icon')
          .s-top__copy2 Разработано студией

  .s-top__scroll.js-scroll-btn(data-scroll="#info")
    +icon('scroll-down', 's-top__scroll-icon')


        


