.back-to-top
  .back-to-top__inner
    +icon('chevron-up', 'back-to-top__icon')

footer.site__footer.s-footer
  .container
    .s-footer__left ИНТЕРГАЗСЕРВИС, 2019
    .s-footer__right Розроблено студией

  .modal-msg
    .modal-msg__close
      svg.modal-msg__close-icon
        use(xlink:href="./img/sprite/symbol/sprite.svg#close")
    .modal-msg__text
