#get-call-back.mf-popup-block.mfp-hide.mfp-with-anim
  .mf-title Остались вопросы? 
  .mf-text Не знаете как самостоятельно разобраться?<br>Оставьте заявку и наш специалист позвонит Вам для консультации

  form.form.mf-form
    .form__group.form__group--inline
      input.form__control.form__control--white(type="text" name="name" value="" placeholder="Ваше имя")
      input.form__control.form__control--white(type="text" name="phone" value="" placeholder="Ваш номер телефона")

    .form__group
      input.form__control.form__control--white.form__control--w100(type="text" name="question" value="" placeholder="Ваш вопрос")

    .form__group
      button.bbtn.bbtn--white.mf-form__submit(type="submit") Заказать консультацию